<div class="card flex justify-content-center">
    <p-card id="login" header="Login" [style]="{ width: '480px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
      </ng-template>
      <p>
        <div class="flex flex-wrap justify-content-center align-items-center gap-2">
          <label class="w-6rem">User ID</label>
          <input (input)="onUserIdInput()" [(ngModel)]="userId" pInputText id="username" type="text" class="w-12rem" />
        </div>
  
        <div class="flex justify-content-center mt-2">
          <webcam [height]="360" [width]="480" [trigger]="triggerObservable" (imageCapture)="onImageCapture($event)"></webcam>
        </div>
      <ng-template pTemplate="footer">
        <p-button [raised]="true" id="btn-login" [disabled]="!userId || !userId.length" [loading]="loading" (onClick)="captureImage()" label="Login" icon="pi pi-user" styleClass="w-10rem mx-auto"></p-button>
      </ng-template>
    </p-card>
  </div>
  